<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
      }
      .main {
        font-size: 0px;
      }
      .nav {
        font-size: 14px;
        display: inline-block;
        width: 200px;
        background: red;
      }

      .article {
        font-size: 14px;
        display: inline-block;
        width: calc(100% - 200px);
        background: green;
        vertical-align: top;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>这是头部</h1>
    </header>
    <main class="main">
      <nav class="nav">
        <ul>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
        </ul>
      </nav>
      <article class="article">
        <h2>html语义化</h2>
        <section>
          <h3>第一段</h3>
          <p>这是第一段文字</p>
        </section>
        <section>
          <h3>第二段</h3>
          <p>这是第二段文字</p>
        </section>
        <section>
          <h3>第三段</h3>
          <p>这是第三段文字</p>
        </section>
      </article>
    </main>
  </body>
</html>
