<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
        .main{

        }

        .nav{
            width: 150px;
            position: absolute;
            background: red;
        }

        .article{
            margin-left: 150px;
            background: green;
        }
    </style>
  </head>
  <body>
    <header>
      html语义化
    </header>
    <main class="main" >
      <nav class="nav" >
        <ul>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
          <li>第一节</li>
        </ul>
      </nav>
      <article class="article" >
        <h2>文章标题</h2>
        <section>
          <h3>第一节</h3>
          <p>这是第一节内容。</p>
        </section>
        <section>
          <h3>第二节</h3>
          <p>这是第二节内容。</p>
        </section>
      </article>
    </main>
  </body>
</html>
