<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        html,body{
            height: 100%;
        }
        .outer{
            width: 200px;
            height: 200px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        .inner{
            background: green;
            display: inline;
        }
    </style>
</head>
<body>
    <div class="outer" >
        <div class="inner" >居中元素</div>
    </div>
</body>
</html>